<div>
	<button class="btn btn_create"
					(click)="create()">Добавить&nbsp;запись</button>
	<span class="sort-tab"
				(click)="onSort('title')">
		cортировка по заголовкам
	</span>
	<span class="sort-tab"
				(click)="onSort('releaseDate')">
		cортировка по годам выпуска
	</span>
</div>
<div class="editor-list" 
		 *ngIf="books.length">
	<editor-item *ngFor="let book of books | arrayFilter:sortParam" 
							 [book]="book" 
						   (delete)="delete($event)"
						   (setPageState)="setPageState($event)"> 
  </editor-item>
</div>